$highlight-color: rgb(0, 119, 204);
$highlight-color-light: rgb(65, 144, 201);
$warn-color: rgb(218, 69, 103);
$warn-color-light: rgb(255, 170, 170);
$sidebar-width: 20%;
$font-family: Helvetica, Arial, sans-serif;
$ttime: 0.3s;
$default-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16),
	0px 2px 8px 0px rgba(0, 0, 0, 0.12);